body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.mycontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 200px;
}

button {
	height: 80px;
	width: 500px;
	font-size: 20px;
	background-color: #9a4ec6;
	color: white;
}
input {
	height: 80px;
	width: 500px;
	font-size: 20px;
}
.selected {
	text-decoration: line-through;
}
